<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../../assets/css/style.css" />
</head>
<body>
    {{ template "header.html" . }}

    <main>

        {{ template "admin-navbar.html" . }}

        <div class="main-content">
            <div class="breadcrumbs"></div>
            <div class="controls"></div>
            <div class="table-wrapper"></div>
            <div class="pagination"></div>
        </div>

    </main>

    <div id="usr_tp" style="display: none;">admin</div>
    <script src="../../assets/js/main.js" defer></script>
    <script src="../../assets/js/components.js" defer></script>
</body>
</html>
