<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center vh-100 main-login-container">
      <div class="row login-card bg-white w-100">
        <!-- Left Side (Logo & App name) -->
        <div class="col-md-4 login-left col-xs-3">
          <img src="../assets/img/logo.png" alt="Company Logo" class="img-fluid w-100 h-100 object-fit-contain" />
        </div>

        <!-- Right Side (Login Form) -->
        <div class="col-md-8 p-5">
          <h3 class="mb-4">Войти в личный кабинет</h3>
          <form id="login-form" method="POST" action="/login">
            <div class="mb-3">
              <label for="email" class="form-label">Логин</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Введите ваш логин" required />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Пароль</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="********" required />
            </div>

            <div class="mb-3">
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input" id="rememberMe" checked/>
                    <label class="form-check-label" for="rememberMe">Запомнить меня</label>
                </div>
                <div>
                    <a href="#" class="text-decoration-none auth-page-link">Забыли пароль?</a>
                </div>
            </div>

            <button type="submit" class="btn w-100 text-white btn-submit">Войти</button>
          </form>
        </div>
      </div>
    </div>

    <script src="../assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
