<header>
    <div class="sandwitch">
        <span onclick="toggleNav()">☰</span>
    </div>
    <div class="logo">
        <img src="/assets/img/header-logo.png" alt="Company Logo" />
    </div>
    <div class="user-info">
        <div class="user-text">
            <h4>Admin LastName</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <div class="user-avatar">
            <img width="30" height="30" src="/assets/img/person.svg" alt="User Avatar" class="rounded-circle user-logo" />
        </div>
    </div>
</header>
