<header>
    <div class="sandwitch">
        <span onclick="toggleNav()">☰</span>
    </div>
    <div class="logo">
        <img src="../../assets/img/header-logo.png" alt="Company Logo" />
    </div>
    <div class="user-info">
        <div class="user-text">
            <h3>MyName LastName</h3>
            <p>position 123 456 432 123 123 123 123 123 123 123 123 123</p>
        </div>
        <div class="user-avatar">
            <img width="30" height="30" src="../../assets/img/person.svg" alt="User Avatar" class="rounded-circle user-logo" />
        </div>
    </div>
</header>
