<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Dashboard</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
    {{ template "header.html" . }}

    <main>

        {{ template "user-navbar.html" . }}

        <div class="main-content">
            <div class="breadcrumbs"></div>
            <div class="controls"></div>
            <div class="table-wrapper"></div>
            <div class="pagination-container"></div>
        </div>

    </main>

    <div id="user_type" style="display: none;">user</div>
    <script src="/assets/js/components.js" defer></script>
    <script src="/assets/js/forms.js" defer></script>
    <script src="/assets/js/main.js" defer></script>
</body>
</html>
