<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>User Panel | Dashboard</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {{ template "header.html" . }}

    <main>

      {{ template "user-navbar.html" . }}

        <div class="main-content">
            <h1>Welcome to the Dashboard</h1>
        </div>

    </main>

    <script src="/assets/js/main.js" defer></script>
</body>
</html>
